html {
	height: 100%;
	background: rgba(252, 255, 255);
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	padding-top: 20px;
	font-size: 16px;
	font-family: "Open Sans",serif;
	background: transparent;
}

.page-header h1 {
	cursor: default;
}

form {
	margin-bottom: 10px;
}

.panel-body a {
	text-align: center;
}

.panel-body img {
	margin: 0 auto 10px;
}

.std-hide {
  display: none;
} 