html {
	height: 100%;
	background-color: white;
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.draghover {
	box-shadow: 0 0 30px 15px rgba(66,139,202,0.75) inset;
	transition: box-shadow 0.2s;
}

body {
	padding-top: 20px;
	font-size: 16px;
	font-family: "Open Sans",serif;
	background: transparent;
}

pre {
	word-wrap: normal;
}

.page-header h1 {
	cursor: default;
}

h1 a {
	color: inherit;
	cursor: inherit;
	text-decoration: none;
}

h1 a:hover {
	color: inherit;
	cursor: inherit;
}

.album-name {
	overflow: hidden;
	text-overflow: ellipsis;
}

form {
	margin-bottom: 10px;
}

.panel-body a {
	text-align: center;
}

.panel-body img {
	margin: 0 auto 10px;
}

.std-hide {
  display: none;
}

progress {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: solid #cccccc 2px;
	border-radius: 5px;
	width: 100%;
	height: 20px;
}

.verticalresizing {
	resize: vertical;
}

.noscroll {
	overflow: hidden;
}

.infoarea {
	margin-bottom: 20px;
}

.no-padding {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

.btn-file  {
	position: relative;
	overflow: hidden;
}

.file-preview-area {
	margin-top: 15px;
}

.file-preview-entry {
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	margin-top: 2px;
	padding: 0.1em 0.3em;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.file-preview-entry:hover, .file-preview-entry:focus {
	border: 1px solid black;
}

.btn-file-remove-base {
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	text-shadow: 0 1px 0 #fff;
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 0 none;
	cursor: pointer;
	padding: 0;
	opacity: 0.2;
}

.file-preview-entry:hover > .btn-file-remove-base,
.file-preview-entry:focus > .btn-file-remove-base {
	cursor: pointer;
	opacity: 0.8;
	text-decoration: none;
}

.file-upload-form {
	display: flex;
}

.input-group .file-overview {
	display: inline-flex;
	flex-shrink: 100;
	overflow: hidden;
}

.file-overview-text {
	overflow: hidden;
	text-overflow: ellipsis;
}

.file-upload-controls {
	width: auto;
}

.btn-file-remove {
	margin-right: 0.2em;
	color: red;
}

.btn-file-browse {
	margin-right: 3px;
}

.file-overview input[type="file"] {
	display: none;
}

@media (min-width: 768px) {
	.modal-qrcode {
		width: 50%;
	}
}

@media (min-width: 992px) {
	.modal-qrcode {
		width: 35%;
	}
}

@media (min-width: 1200px) {
	.modal-qrcode {
		width: 25%;
	}
}

.qrcode {
	width: 100%;
}

.no-thumbnail {
	border: none;
	background-color: transparent;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@media (min-width: 768px) {
	.modal-xl {
		width: 90%;
		max-width:1200px;
	}
}

.video-dialog {
	height: 100%;
}

.video-container {
	height: 80%;
	display: flex;
	flex-direction: column;
}

.video-header {
	border-bottom: none;
}

.video-body {
	/*position: absolute;
	bottom: 0;
	height: 80%;*/
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

video {
	height: 100%;
}